<p><%= link_to "Pet Index", "/pets", method: "get"%></p>
<p><%= link_to "Shelter Index", "/shelters", method: "get"%></p>


<h1> <%=@shelter.name%></h1>

<h2>Address:<%= @shelter.address %> </h2>
<h2>City:<%= @shelter.city %> </h2>
<h2>State:<%= @shelter.state %> </h2>
<h2>Zip:<%= @shelter.zip %> </h2>

<%=link_to "Update Shelter", "/shelters/#{@shelter.id}/edit", method: "get"%>

<%=link_to "Delete Shelter", "/shelters/#{@shelter.id}", method: "delete"%>
