<p><%= link_to "Pet Index", "/pets", method: "get"%></p>
<p><%= link_to "Shelter Index", "/shelters", method: "get"%></p>

<h1>Update Pet Information</h1>

<%= form_tag "/pets/#{@pet.id}", method: :patch do %>
  <p>Name: </p><%= text_field_tag :name , "#{@pet.name}"%>
  <br>
  <p>Image link: </p>
  <%= text_field_tag :image, "#{@pet.image}" %>
  <br>
  <p>Age: </p>
  <%= text_field_tag :age, "#{@pet.age}" %>
  <br>
  <p>Sex: </p>
  <%= text_field_tag :sex, "#{@pet.sex}" %>
  <br>
  <p>Description: </p>
  <%= text_field_tag :description, "#{@pet.description}" %>
  <br>
  <%= submit_tag "Submit"%>
<% end %>
