<h1> All the Pets in the World (Shelters)</h1>

<% @pets.each do |pet| %>
<h2>Name: <%= link_to pet.name, "/pets/#{pet.id}" %></h2>

  <%= image_tag(pet.image, height:"400") %>
  <p>Age: <%= pet.age %></p>
  <p>Sex: <%= pet.sex %></p>
  <p>Shelter ID: <%= pet.shelter_id %></p>
  <p><%= link_to "Edit #{pet.name}", "/pets/#{pet.id}/edit", method: "get"%></p>
  <p><%= link_to "Delete #{pet.name}", "/pets/#{pet.id}", method: "delete"%></p>

<% end%>
