<h1> All the Pets in the World (Shelters)</h1>

<% @pets.each do |pet| %>
<h2><%= pet.name %></h2>
  <%= image_tag(pet.image) %>
  <p><%= pet.age %></p>
  <p><%= pet.sex %></p>
  <p><%= pet.shelter_id %></p>

<% end %>
